<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
    <span>Login with Modern</span>
</h6>
<div class="card-content">
    <div class="card-body">
        <form (submit)="onSubmit()" class="form-horizontal form-simple">
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="text" class="form-control form-control-lg input-lg" [(ngModel)]="user" name="user"
                       id="user-name" placeholder="Your Username"
                       required>
                <div class="form-control-position">
                    <i class="la la-user"></i>
                </div>
            </fieldset>
            <br>
            <fieldset class="form-group position-relative has-icon-left">
                <input type="password" class="form-control form-control-lg input-lg" id="user-password"
                       [(ngModel)]="password" name="password" placeholder="Enter Password" required>
                <div class="form-control-position">
                    <i class="la la-key"></i>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-md-6 col-12 text-center text-md-right"><a routerLink="/forgot" class="card-link">Forgot
                    Password?</a></div>
            </div>
            <button type="button" (click)="onSubmit()" class="btn btn-info btn-lg btn-block" [disabled]="loading"><i
                    class="ft-unlock"></i>
                Login
            </button>
            <div *ngIf="errorMessage" class="alert alert-danger mt-10">{{errorMessage}}</div>
        </form>
    </div>
</div>
