<div class="vertical-layout vertical-menu 2-columns fixed-navbar pace-done"
     [ngClass]="{'menu-expanded': !collapsed, 'menu-collapsed': collapsed}">
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#">
                            <i class="ft-menu font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" routerLink="/">
                            <img class="brand-logo" alt="modern admin logo" src="/assets/images/logo.png">
                            <h3 class="brand-text">Modern Admin</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
                            <i class="la la-ellipsis-v"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block">
                            <a (click)="collapsed=!collapsed" class="nav-link nav-menu-main menu-toggle hidden-xs" routerLink="/dashboard/home">
                                <i class="la la-bars"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item" (click)="logout()">
                            <a class="dropdown-toggle dropdown-user-link" routerLink="/dashboard/home"
                               data-toggle="dropdown">
                                <span class="mr-1">Hello,
                                    <span class="user-name text-bold-700">
                                    {{user.first_name + ' ' + user.last_name}}
                                    </span>
                                </span>
                                <span class="avatar avatar-online">
                                    <img src="/assets/images/avatar.png" alt="avatar">
                                    <i></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
        <div class="main-menu-content">
            <div class="main-menu-content">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                    <li [routerLinkActive]="['active']" class="nav-item"><a routerLink="/dashboard/home"><i
                            class="la la-pie-chart"></i><span
                            class="menu-title" data-i18n="nav.dash.main">Dashboard</span></a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item"><a routerLink="/dashboard/trade-history">
                        <i class="la la-table"></i><span class="menu-title" data-i18n="nav.add_on_block_ui.main">Trade History</span></a>
                    </li>
                    <li [routerLinkActive]="['active']" class=" nav-item">
                        <a routerLink="/dashboard/setting">
                            <i class="la la-gear"></i>
                            <span class="menu-title" data-i18n="nav.add_on_block_ui.main">Setting</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
