#padding0 {
  padding: 12px;
  margin-top: 3.88px;
}

#padding1 {
  padding: 0 30px 0 20px;
  border-left: 1px solid lightgrey;
}

select.form-control:not([size]):not([multiple]).input-lg, input.form-control.input-lg {
  font-size: 12px;
}

.title2 {
  font-size: 16px;
  margin-left: -10px;
}
.card-title[_ngcontent-c2] {
  font-size: 13px;
}

.btn {
  font-size: 11px;
}

.btn-primary {
  font-size: 11px;
}

select.form-control:not([size]):not([multiple]) {
  height: 34px;
}

.titlee {
  font-size: 1px;
}
.amount{
  margin-bottom: 20px;
}
.amount p {
  font-size: 12px;
  margin-bottom: 0;
}
#paddin2{
  padding: 31px 0px 13px 20px;
  font-size: 15px;

}
.amount h3 {
  color: red;
}

.navbar .navbar-header {
  float: left;
  width: 208px !important;

}

.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
  width: 209px !important;
}

.vertical-layout.vertical-menu.menu-expanded .content, .vertical-layout.vertical-menu.menu-expanded .footer {
  margin-left: 247px !important;
}
