<div class="card-content">
  <div class="card-body">
    <form class="form-horizontal" action="login-simple.html" novalidate="">
      <fieldset class="form-group position-relative has-icon-left">
        <input type="password" class="form-control form-control-lg input-lg" id="password" placeholder="Password" required="">
        <div class="form-control-position">
          <i class="ft-mail"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
        <input type="Re-typePassword" class="form-control form-control-lg input-lg" id="re-typepassword" placeholder="Re-type Password" required="">
        <div class="form-control-position">
          <i class="ft-mail"></i>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-outline-info btn-lg btn-block"><i class="ft-unlock"></i> Reset Password</button>
    </form>
  </div>
</div>
<div class="card-footer border-0">
  <p class="float-sm-left text-center"><a href="login-simple.html" routerLink="/login" class="card-link">Login</a></p>
</div>
