<form (submit)="onSubmit($event)" class="padder row">
    <div class="col-4">
        <h5 class="card-title">Trade History</h5>
    </div>
    <div class="col-4">
        <div class="bttn">
            <button type="button" (click)="selectType('buy')" class="btn lobibox-btn-default"
                    [ngClass]="{'btn-primary': selectedType=='buy'}">Buy Trade
            </button>
            <button type="button" (click)="selectType('sell')" class="btn btn-primary"
                    [ngClass]="{'btn-primary': selectedType=='sell'}">Sell Trade
            </button>
            <button type="button" (click)="selectType('all')" class="btn lobibox-btn-default"
                    [ngClass]="{'btn-primary': selectedType=='all'}">All Trade
            </button>
        </div>
    </div>

    <div class="col-2">
        <div class="input-group">
            <div class="input-group-append">
                <input name="keywords"
                       [(ngModel)]="keywords"
                       class="form-control"
                       placeholder="Search By Pair"
                       aria-describedby="basic-addon4">
            </div>
        </div>
    </div>

    <div class="col-2">
        <fieldset class="form-group position-relative">
            <select class="form-control input-lg"
                    (change)="load()"
                    name="order_by" [(ngModel)]="order_by">
                <option value="">Sort By</option>
                <option *ngFor="let o of ordersBy" value="{{o}}">{{o}}</option>
            </select>
        </fieldset>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-de mb-0">
                        <thead>
                        <tr>
                            <th>Exchange</th>
                            <th>Pair</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Rate(%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of orders | paginate: { id: 'foo', itemsPerPage: pageSize, currentPage: p, totalItems: total }">
                            <td>{{order.exchange}}</td>
                            <td><i class="cc BTC-alt"></i>{{order.coin}}</td>
                            <td>{{order.type}}</td>
                            <td><i class="cc BTC-alt"></i>{{order.date}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.rate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

