<div class="card-content">
    <div class="card-body">
        <form class="form-horizontal" novalidate="">
            <fieldset class="form-group position-relative has-icon-left">
                <input [(ngModel)]="email" name="email" type="email" class="form-control form-control-lg input-lg"
                       placeholder="Your Email Address">
                <div class="form-control-position">
                    <i class="la la-mail"></i>
                </div>
            </fieldset>
            <button type="button" [disabled]="loading" (click)="onSubmit()"
                    class="btn btn-outline-info btn-lg btn-block">
                <i class="ft-unlock"></i>
                Recover Password
            </button>
        </form>
    </div>
</div>
<div class="card-footer border-0">
    <p class="float-sm-left text-center"><a href="" routerLink="/login" class="card-link">Login</a></p>
</div>
