<div class="row">
  <div class="col-xl-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Trade Limits</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
              <fieldset>
                <h5>Total allowable trading amount:</h5>
                <div class="form-group">
                  <input type="text" class="form-control date-formatter" id="date-format" placeholder="0.06">
                </div>
              </fieldset>
              <fieldset>
                <h5>Maximum Amount</h5>
                <div class="form-group">
                  <input type="text" class="form-control phone-formatter" id="phone-format" placeholder="10">
                </div>
              </fieldset>
              <fieldset>
                <h5>Maximum Amount</h5>
                <div class="form-group">
                  <input type="text" class="form-control international-formatter" id="international-format" placeholder="5">
                </div>
              </fieldset>
              <fieldset>
                <h5>Max % Per Coin</h5>
                <div class="form-group">
                  <input type="text" class="form-control purchase-formatter" id="purchase-format" placeholder="30">
                </div>
              </fieldset>
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
    </div>
  <!-- anf off col-lg6-->
  <div class="col-xl-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Profit Target</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <fieldset>
            <h5>Stop Loss:</h5>
            <div class="form-group">
              <input type="text" class="form-control date-formatter" id="date-format" placeholder="0.06">
            </div>
          </fieldset>
          <fieldset>
            <h5>TSL Arm:</h5>
            <div class="form-group">
              <input type="text" class="form-control phone-formatter" id="phone-format" placeholder="10">
            </div>
          </fieldset>
          <fieldset>
            <h5>TSL:</h5>
            <div class="form-group">
              <input type="text" class="form-control international-formatter" id="international-format" placeholder="5">
            </div>
          </fieldset>
          <fieldset>
            <h5>Max % Per Coin</h5>
            <div class="form-group">
              <input type="text" class="form-control purchase-formatter" id="purchase-format" placeholder="30">
            </div>
          </fieldset>
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
 </div>
