<form (submit)="onSubmit($event)" class="row">
    <div class="col-xl-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Trade Limits</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <fieldset>
                        <h5>Total allowable trading amount:</h5>
                        <div class="form-group">
                            <input type="number" class="form-control date-formatter"
                                   [(ngModel)]="trade_limit.trade_limit" name="trade_limit">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>Maximum Amount</h5>
                        <div class="form-group">
                            <input type="number" class="form-control phone-formatter"
                                   [(ngModel)]="trade_limit.max_amount" name="max_amount">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>Minimum Amount</h5>
                        <div class="form-group">
                            <input type="number" class="form-control international-formatter"
                                   [(ngModel)]="trade_limit.min_amount"
                                   name="min_amount">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>Max % Per Coin</h5>
                        <div class="form-group">
                            <input type="number" class="form-control purchase-formatter"
                                   [(ngModel)]="trade_limit.max"
                                   name="max">
                        </div>
                    </fieldset>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- anf off col-lg6-->
    <div class="col-xl-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Profit Target</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <fieldset>
                        <h5>Stop Loss:</h5>
                        <div class="form-group">
                            <input type="number"
                                   class="form-control date-formatter"
                                   [(ngModel)]="profit_target.stop_loss"
                                   name="stop_loss">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>TSL Arm:</h5>
                        <div class="form-group">
                            <input type="number"
                                   class="form-control phone-formatter"
                                   [(ngModel)]="profit_target.tsl_arm"
                                   name="tsl_arm">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>TSL:</h5>
                        <div class="form-group">
                            <input type="number"
                                   class="form-control international-formatter"
                                   [(ngModel)]="profit_target.tsl"
                                   name="tsl">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>Max % Per Coin</h5>
                        <div class="form-group">
                            <input type="number"
                                   class="form-control purchase-formatter"
                                   [(ngModel)]="profit_target.max"
                                   name="max">
                        </div>
                    </fieldset>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
